<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">Excel Import</div>
			<div class="panel-body">
				<form ng-submit="uploadFile()" name="uploadForm" enctype="multipart/form-data">
					<div class="fileinput fileinput-new input-group" data-provides="fileinput">
					<div class="form-control" data-trigger="fileinput">
						<i class="glyphicon glyphicon-file fileinput-exists"></i> 
						<span class="fileinput-filename"></span>
					</div>
					<span class="input-group-addon btn btn-default btn-file">
						<span class="fileinput-new">Select file</span>
						<span class="fileinput-exists">Change</span>
						<input name="file" type="file" id="file" file-model="fileToUpload" />
					</span>
					<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
					<a class="input-group-addon btn btn-default fileinput-exists">Import</a>
					</div>
				</form>
			</div> 
		</div>
	</div>
</div> 